
@import '../assets/globals.postcss.css';

$rightSize: 200;
.game {
  /*margin-top:       30*$PX;*/
  font-family:      Arial, sans-serif;
  text-align:       center;
  perspective:      800*$PX;
  padding-bottom:   30*$PX;
  
  position:         absolute;
  left:             50%;
  top:              50%;
  transform:        translate(-50%, -50%);
  
  &__inner {
    display:        inline-block;
    padding-right:  $rightSize*$PX;
    position:       relative;
  }
  &__left {
    /*max-width:      550*$PX;*/
    width:          550*$PX;
    display:        flex;
    flex-wrap:      wrap;
    align-content:  center;
  }
  &__right {
    position:       absolute;
    right:          0;
    top:            0;
    bottom:         0;
    width:          $rightSize*$PX;
    padding-top:    140*$PX;
    
    /*[data-component="scores"] {
      position:     absolute;
      left:         50%;
      top:          50%;
      transform:    translate(-50%, -50%);
    }*/
  }
}
