
@import '../assets/globals.postcss.css';

.reset-button {
  position:       relative;
  display:        inline-block;
  
  button {
    border:       none;
    color:        white;
    cursor:       pointer;
    &:focus {
      outline:    0;
    }
  }

  &__momento {
    background:     $c-orange;
    height:         31*$PX;
    position:       relative;
    top:            8px;
    margin-left:    5px;
    border-radius:  4px;
    display:        none;
    
    &:hover { opacity: .85; }
    &:active { opacity: 1; }
    
    [data-component="icon"] {
      width:        14*$PX;
      height:       14*$PX;
      cursor:       inherit;
    }
    &.is-disable {
      cursor:       default;
      background:   gray;
      opacity:      .5;
    }
    &.is-cheat {
      display:      inline-block;
    }
  }

  &__main {
    background:     $c-red;
    font-size:      14*$FPX;
    color:          white;
    padding:        6*$PX 35*$PX 8*$PX;
    border-radius:  4*$PX;
    position:       relative;
    cursor:         pointer;
    z-index:        1;
    &:hover {
      background:   #FF6361;
    }
    &:active {
      background:   $c-red;
    }
  }
  
  &__confirm  {
    background:   $c-yellow;
    color:        $c-blue !important;
    position:     absolute;
    top:          100%;
    left:         50%;
    height:       20*$PX;
    padding:      2*$PX 16*$PX 7*$PX;
    font-size:    10*$FPX;
    border-bottom-left-radius:  18*$PX;
    border-bottom-right-radius: 18*$PX;
    transform:    translate(-50%, -100%);
    transition:   all .225s ease-out;
    &:hover {
      opacity:    .9;
    }
  }

  &.is-confirm {
    .reset-button__confirm {
      transform:  translate(-50%, 0);
    }
  }
}
