
@import '../assets/globals.postcss.css';

.scores {
  &__text {
    position:       relative;
    display:        inline-block;
    font-size:      20*$PX;
    letter-spacing: .5*$PX;
    margin-bottom:  25*$PX;
    em {
      font-size:    24*$PX;
      font-style:   normal;
      color:        $c-red;
      font-weight:  bold;
    }
  }
  
  [data-component="ghost"] {
    margin:         0 auto 15*$PX;
  }
}