
$c-purple:        #3A0839;
$c-light-purple:  #512750;
$c-cyan:          #50E3C2;
$c-white:         #FFFFFF;
$c-blue:          #2C405A;
$c-red:           #EC5351;
$c-orange:        #F27B35;
$c-yellow:        #FFD555;
